{% load static %}

<div>
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img
          src="{% static 'img/kemhan_logo.png'%}"
          alt="KEMHAN Logo"
          width="45"
          height="45"
        />
        <span>e-doc Baranahan </span>
      </a>
      <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid ">
          <ul class="navbar-nav gap-4">
            <li class="nav-item">
              <a class="fa-solid fa-arrow-left" href="{% url 'home' %}" ></a>
            </li> 
             
          </ul>   
        </div>
      </nav>
    </div>
  </nav>
</div>
