{% load static %}

<!-- modal untuk edit surat -->

<div class="modal fade" id="button_edit_surat" tabindex="-1" aria-labelledby="edit_surat" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit_surat">Edit Surat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="{% url 'setting_surat' %}" method="POST" class="was-validated">
        {% csrf_token %}
        <div class="modal-body">
            <div class="mb-3">
                  <input type="text" class="form-control"  name="nama_surat" required value="{{ surat.nama_surat }}">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- modal untuk delete surat -->

<div class="modal fade" id="button_delete_surat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus Surat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'setting_klasifikasi' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
            <div class="mb-3">
                  <p>Apakah yakin surat ini ingin dihapus?</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- modal untuk edit klasifikasi -->

<div class="modal fade" id="button_edit_klasifikasi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Klasifikasi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'setting_klasifikasi' %}" method="POST" class="was-validated">
          {% csrf_token %}
          <div class="modal-body">
              <div class="mb-3">
                    <input type="text" class="form-control" id="kode_klasifikasi_surat" name="nama_klasifikasi_surat" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>Baranahan

  <!-- modal untuk delete klasifikasi -->

  <div class="modal fade" id="button_delete_klasifikasi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus Klasifikasi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'setting_klasifikasi' %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <p>Apakah yakin Klasifikasi ini ingin dihapus?</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- modal untuk edit Kelompok -->

<div class="modal fade" id="button_edit_kelompok" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Kelompok</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'setting_klasifikasi' %}" method="POSTBaranahan" class="was-validated">
          {% csrf_token %}
          <div class="modal-body">
              <div class="mb-3">
                    <input type="text" class="form-control" id="kode_klasifikasi_surat" name="nama_klasifikasi_surat" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- modal untuk delete Kelompok -->

  <div class="modal fade" id="button_delete_kelompok" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus Kelompok</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'setting_klasifikasi' %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <p>Apakah yakin Kelompok ini ingin dihapus?</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>



