{% load static %}

<!-- modal untuk edit klasifikasi -->
{% for data in klasifikasi %} 
    <div class="modal fade" id="edit_klasifikasi{{ data.id }}" tabindex="-1" aria-labelledby="edit_klasifikasi" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="edit_klasifikasi">Edit Klasifikasi</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'edit_setting_klasifikasi' data.id %}" method="POST" class="was-validated">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="mb-3">
                        <input type="text" class="form-control" name="nama_klasifikasi_surat" required value="{{ data.nama_klasifikasi }}">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %}
  <!-- modal untuk delete klasifikasi -->

{% for data in klasifikasi %} 
      <div class="modal fade" id="delete_klasifikasi{{ data.id }}" tabindex="-1" aria-labelledby="delete_klasifikasi" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="delete_klasifikasi">Hapus Klasifikasi</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'delete_setting_klasifikasi' data.id %}" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <p>Apakah yakin Klasifikasi "{{data.nama_klasifikasi}}" ini ingin dihapus?</p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Hapus</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %}

  <!-- modal untuk edit Kelompok -->
{% for data in kelompok %} 
    <div class="modal fade" id="edit_kelompok{{ data.id }}" tabindex="-1" aria-labelledby="edit_kelompok" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="edit_kelompok">Edit Folder</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'edit_setting_kelompok' data.id %}" method="POST" class="was-validated">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="mb-3">
                        <input type="text" class="form-control" name="nama_kelompok_surat" required value="{{ data.nama_kelompok }}">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %}
  <!-- modal untuk delete Kelompok -->
{% for data in kelompok %} 
      <div class="modal fade" id="delete_kelompok{{ data.id }}" tabindex="-1" aria-labelledby="delete_kelompok" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="delete_kelompok">Hapus Kelompok</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'delete_setting_kelompok' data.id %}" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <p>Apakah yakin Folder "{{data.nama_kelompok}}" ini ingin dihapus?</p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Hapus</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %}


