{% extends 'base_index.html' %}
{% load static %}


{% block edit_files %}

{%include 'partials/header.html' %}

<p class="text-center mt-3" style="font-size: 30px;">EDIT DATA</p>

<div class="card container mt-4">   
    <form class="row g-3 mt-2 ">
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">User</label>
          <input class="form-control" type="text" aria-label="Disabled input example" disabled>
          
        </div>
        <div class="col-md-4">
          <label for="inputPassword4" class="form-label" name="klarifikasi"> Klasifikasi </label>
          <input type="text" class="form-control" id="inputPassword4">
        </div>
    
        <div class="col-md-4">
          <label for="inputPassword4" class="form-label">Jenis Surat</label>
          <input type="text" class="form-control" id="inputPassword4">
        </div>
    
        <div class="col-md-4">
          <label for="inputPassword4" class="form-label">Tanggal</label>
          <input type="date" class="form-control" id="inputPassword4">
        </div>
    
        <div class="col-8">
          <label for="inputAddress" class="form-label">Nomor Surat</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
    
        <div class="col-12">
          <label for="inputAddress" class="form-label">Kepada</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
    
        <div class="col-12">
          <label for="inputAddress" class="form-label">Perihal</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
    
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
          <button type="submit" class="btn btn-primary">INPUT DATA</button>
        </div>
      </form>


{% endblock edit_files %}




