{% extends 'base_index.html' %} 
{% load static %} 


{% block laporan_harian %}

{%include 'partials/header_laporan.html' %}

<div class="container-fluid mt-5">
    <h3 class="text-center">LAPORAN HARIAN</h3>
    <div class="">
        <div class="d-flex mt-5 align-content-center ">
            <canvas id="laporan_harian" style="width:100%;max-width:1000px; max-height: 1000px;"></canvas>

            <div class="d-flex flex-column">
                <div class="justify-content-around">
                    <h5 >Total Laporan Tanggal {{ hari_ini  }} :</h5> <br>
                </div>
                    {% for key, val  in jumlah.items  %}
                        <h5>{{ key }} = {{  val }} </h5>  
                    {% empty %}
                        <h5>Tidak ada data masuk hari ini</h5>
                    {% endfor %}
                    
            </div>
            
        </div>
        
    </div>
</div>

<script>
    const ctx = document.getElementById("laporan_harian").getContext("2d"); 
    var myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: {{ label | safe }},
            datasets: [
            {
                label: 'Surat Masuk',
                data   :  {{ y_masuk | safe }},
                backgroundColor: 'red',
            },
            {
                label: 'Surat Keluar',
                data   :  {{ y_keluar | safe }},
                backgroundColor: 'blue',
            }]
        },
        options: { 
            responsive: true,
            legend : {
                display : true,
                labels : {
                    fontColor : "white",
                },
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                        fontSize: 14,
                        beginAtZero: true,
                        stepSize : 1,
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        fontSize: 14,
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

{% endblock laporan_harian %}