{% extends 'base_index.html' %} 
{% load static %} 

  
{% block olah_data %}

{%include 'partials/header_olah_data.html' %}

<div style="margin-right: 0.75rem; margin-bottom: -2rem; ">
<div class="d-flex justify-content-end mt-2">
  <div style="margin-right: 5.25rem;">
    <div class="d-flex gap-2 col-10 mb-2 mx-5" >
      <div class="col-3">
        <select class="form-select form-select-sm" title="Filter Surat" id="surat" required aria-label="Default select example" name="surat">
          <option value="">SURAT</option>
          <option value="">------</option> 
          <option value="Masuk">Masuk</option>
          <option value="Keluar">Keluar</option>
        </select>
      </div>
      <div class="col-6">
        <select class="form-select form-select-sm" title="Filter Klasifikasi"  id="klasifikasi"  required aria-label="Default select example" name="klasifikasi">
          <option value="">KLASIFIKASI </option>
          <option value="">-----------</option>
          {% for v in klasifikasi %}
          <option value="{{ v }}">{{v}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-6">
        <select class="form-select form-select-sm" title="Filter Kelompok" id="kelompok" required aria-label="Default select example" name="kelompok">
          <option value="">FOLDER </option>
          <option value="">--------</option>
          {% for v in kelompok %}
          <option value="{{ v }}">{{v}}</option>
          {% endfor %}
        </select>
      </div>
      </div> 
    </div>
  </div>
</div>
</div>

<div class="container-fluid text-white">
    <h5 class="text-center">SEMUA SURAT</h5> 
    <table id="tabel_index" class="table table-striped table-bordered text-white" style="width:100%">
        <thead>
            <tr>
                <th class="text-center">Surat</th>
                <th class="text-center">Klasifikasi</th>
                <th class="text-center">Folder</th>
                <th class="text-center">Tanggal</th>
                <th class="text-center">No Surat</th>
                <th class="text-center">Kepada</th>
                <th class="text-center">Prihal</th>
                <th class="text-center">Files</th>
                <th class="text-center">Aksi</th>
        </thead>
        <tbody>
                {% for data in datasemuasurat %}
                <tr>
                        <td>{{ data.surat }}</td>
                        <td>{{ data.klasifikasi }}</td>
                        <td>{{ data.kelompok }}</td>
                        <td>{{ data.tgl | date:"d M Y"}}</td>
                        <td>{{ data.no_surat }}</td>
                        <td>{{ data.kepada }}</td>
                        <td>{{ data.perihal }}</td>
                        <td class="d-flex justify-content-center" > 
                            <div style="margin-top: 6px;">
                                <a class="fa fa-file-pdf-o" aria-current="page" title="Files" target="_blank" href="/upload/{{ data.upload_file }}"></a> 
                            </div>
                        </td>
                        <td class="text-center px-3"> 
                            <button type="button" class="btn btn-success fas fa-edit"  data-bs-toggle="modal"  data-placement="bottom" title="Edit" data-bs-target="#button_edit_olah_data{{ data.id }}" ></button>
                            <button type="button" class="btn btn-danger fa fa-trash"  data-bs-toggle="modal" data-placement="bottom" title="Hapus" data-bs-target="#button_delete_olah_data{{ data.id }}"></button>
                    </td>
                </tr>
                {% endfor %} 
        </tbody>
    </table>
</div>

{% include 'partials/modal_olah_data.html' %}

<div class="container">
    <footer class="">
        <p class="text-center text-muted">&copy; 2023 - {% now "Y" %}  e-doc - Baranahan</p>
    </footer>
</div>


{% endblock olah_data %}




