{% extends 'base_index.html' %} 
{% load static %} 

{% block settings %}

{% comment %} {%include 'partials/header.html' %} {% endcomment %}

{%include 'partials/header_setting.html' %}


<div class="d-flex flex-fill">
    <div class="container-fluid mt-1 text-white">
        <h5 class="text-center">Klasifikasi</h5>
        <table id="tabel_klasifikasi" class="table table-striped table-bordered text-white" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Klasifikasi</th>
                    <th class="text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for data in klasifikasi %}
                <tr>
                        <td>{{ data.nama_klasifikasi }}</td>
                        <td class="text-center"> 
                             <button type="button" class="btn btn-success fas fa-edit"  data-bs-toggle="modal"  data-placement="bottom" title="Edit" data-bs-target="#edit_klasifikasi{{ data.id }}"></button>
                             <button type="button" class="btn btn-danger fa fa-trash"  data-bs-toggle="modal" data-placement="bottom" title="Hapus" data-bs-target="#delete_klasifikasi{{ data.id }}"></button>
                        </td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="gap-2 col-sm-4 mx-auto ">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-placement="bottom" title="Tambah Data Klasifikasi" data-bs-target="#ModalKlasifikasi">Tambah Klasifikasi</button>
        </div>
    </div>

    <div class="container-fluid mt-1 text-white">
      <h5 class="text-center">Kelompok</h5>
      <table id="tabel_kelompok" class="table table-striped table-bordered text-white" style="width:100%">
          <thead>
              <tr>
                  <th class="text-center">Kelompok</th>
                  <th class="text-center">Aksi</th>
              </tr>
          </thead>
          <tbody>
              {% for data in kelompok %}
              <tr>
                      <td>{{ data.nama_kelompok }}</td>
                      <td class="text-center"> 
                           <button type="button" class="btn btn-success fas fa-edit"  data-bs-toggle="modal"  data-placement="bottom" title="Edit" data-bs-target="#edit_kelompok{{ data.id }}"></button>
                           <button type="button" class="btn btn-danger fa fa-trash"  data-bs-toggle="modal"  data-placement="bottom" title="Hapus" data-bs-target="#delete_kelompok{{ data.id }}"></button>
                      </td>
                      
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div class="gap-2 col-sm-4 mx-auto ">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-placement="bottom" title="Tambah Data Kelompok" data-bs-target="#ModalKelompok">Tambah Kelompok</button>
      </div>
  </div>  

</div>

<!-- modal untuk surat -->

<div class="modal fade" id="ModalSurat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Surat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="{% url 'setting_surat' %}" method="POST" class="was-validated">
          {% csrf_token %}
          <div class="modal-body">
              <div class="mb-3">
                    <input type="text" class="form-control" id="nama_surat" name="nama_surat" autofocus required>
              </div>
          </div>
          <div class="modal-footer ">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% comment %} Modal Untuk Klasifikasi Surat {% endcomment %}

<div class="modal fade" id="ModalKlasifikasi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Klasifikasi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'setting_klasifikasi' %}" method="POST" class="was-validated">
          {% csrf_token %}
          <div class="modal-body">
              <div class="mb-3">
                    <input type="text" class="form-control" id="kode_klasifikasi_surat" name="nama_klasifikasi_surat" autofocus required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% comment %} modal untuk Tambah Kelompok {% endcomment %}

  <div class="modal fade" id="ModalKelompok" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Kelompok</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form action="{% url 'setting_kelompok' %}" method="POST" class="was-validated">
            {% csrf_token %}
            <div class="modal-body">
                <div class="mb-3">
                      <input type="text" class="form-control" id="kode_kelompok_surat" name="nama_kelompok_surat" autofocus required>
                </div>
            </div>
            <div class="modal-footer ">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    
{% include 'partials/modal_setting_edit_delete.html' %}
  
<div class="container">
    <footer class="py-3 my-4">
      <p class="text-center text-muted">&copy; 2023 - {% now "Y" %}  e-doc - Baranahan</p>
    </footer>
</div>
{% endblock settings %}
