{% extends 'base_index.html' %} 
{% load static %} 

{% block tambah_data %}

{%include 'partials/header.html' %}

<div class="container mt-5">
    <p class="text-center" style="font-size: 25px;">TAMBAH DATA</p>
    <form action="{% url 'tambah_data'%}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate >  
       {% csrf_token %}     
        
        <input class="form-control " type="file" accept=".pdf" id="file_input" name="file_name" required />

        <div class="d-flex mt-3 gap-4">
  
          <select class="form-select" required aria-label="Default select example" name="surat">
            <option value="">SURAT</option>
            {% comment %} {% for v in surat %}
            <option value="{{ v }}">{{v}}</option>
            {% endfor %} {% endcomment %}
            <option value="Masuk">Masuk</option>
            <option value="Keluar">Keluar</option>

          </select>

            
          <select class="form-select" required aria-label="Default select example" name="klasifikasi">
            <option value="">KLASIFIKASI SURAT</option>
            {% for v in klasifikasi %}
            <option value="{{ v }}">{{v}}</option>
            {% endfor %}
          </select>

          <select class="form-select" required aria-label="Default select example" name="kelompok">
            <option value="">KELOMPOK SURAT</option>
            {% for v in kelompok %}
            <option value="{{ v }}">{{v}}</option>
            {% endfor %}
          </select>
          <div>
              <input type="date" class="form-control" required name="tanggal">
          </div>
        </div>
  
        <div class="d-grid gap-2 col-3 mx-auto mt-5">
            <button type="submit" class="btn btn-success">PROSES</button>
        </div>
  </form>
</div> 

<div class="container">
    <footer class="py-3 my-4">
      <p class="text-center text-muted">&copy; 2023 - {% now "Y" %}  e-doc - Baranahan</p>
    </footer>
</div>



{% comment %} <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div> {% endcomment %}

{% endblock tambah_data %}
