{% extends 'base_index.html' %}
{% load static %}

{% block index_kontrak %}

{% include 'kontrak/header/index.html' %}



<div class="container-fluid text-white mt-2">
    <div>
    <h5 class="text-center">SEMUA KONTRAK</h5> 
    <table id="tabel_index" class="table table-striped table-bordered text-white" style="width:100%">
        <thead>
            <tr>
                <th class="text-center">Kontrak</th>
                <th class="text-center">Pinjaman</th>
                <th class="text-center">Matra</th>
                <th class="text-center">Tentang</th>
                <th class="text-center">Tanggal</th>
                <th class="text-center">Aksi</th>
                <th class="text-center">Lampiran</th>
               
        </thead>
        <tbody>
                {% for data in datasemuasurat %}
                <tr>
                        <td>{{ data.surat }}</td>
                        <td>{{ data.klasifikasi }}</td>
                        <td>{{ data.kelompok }}</td>
                        <td>{{ data.tgl | date:"d M Y"}}</td>
                        <td>{{ data.no_surat }}</td>
                        <td>{{ data.kepada }}</td>
                        <td>{{ data.perihal }}</td>
                        <td class="d-flex justify-content-center" > 
                            <div style="margin-top: 6px;">
                                <a class="fa fa-file-pdf-o" aria-current="page" title="Files" target="_blank" href="/upload/{{ data.upload_file }}"></a> 
                            </div>
                        </td>
                        <td class="text-center px-3"> 
                            <button type="button" class="btn btn-success fas fa-edit"  data-bs-toggle="modal"  data-placement="bottom" title="Edit" data-bs-target="#button_edit_olah_data{{ data.id }}" ></button>
                            <button type="button" class="btn btn-danger fa fa-trash"  data-bs-toggle="modal" data-placement="bottom" title="Hapus" data-bs-target="#button_delete_olah_data{{ data.id }}"></button>
                    </td>
                </tr>
                {% endfor %} 
        </tbody>
    </table>
    </div>
</div>





{% endblock index_kontrak %}





